.button{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color:#6AC1A9;
    
    text-decoration: none;
    border-radius: 16px;

    padding:5px;


    cursor: pointer;
    button{
        border:none;
        background-color: transparent;
        color:white;
        font-size: 16px;
        padding: 10px 20px;
        text-align: center;

        border-radius: 16px;

        width: 100%;
        cursor: pointer;
    }

    &:hover {
        color: #6AC1A9;
        border: 1px solid #6AC1A9;
        background-color: white;

        button{
            color:#6AC1A9;
        }
    }

    &:disabled{
        border: 1px solid #6AC1A9;
        background-color: grey;
        color:white;
    }

}