.signup{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color:grey;

    .signup-success{
        display:flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        background-color:rgba(106, 193, 169,0.5);
        color:white;
        border-radius: 4px;
        font-size: 18px;
    }
}