@import './TreatmentQr/styles.scss';

.qrs-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;

    .qrs-selector{
        display:flex;
        flex-direction: column;
    }

    .qrs-container{
        display:flex;
        flex-direction: column;
    }
}