.treatment-qrs-container{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

    border: 1px solid #6AC1A9;

    padding: 40px 0;
    width: 80%;
    margin: 40px 0;

    .treatment-qrs-title{
        display:flex
    }

    .treatment-qrs{
        display:flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        .qr-card{
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-content: center;
            margin: 0px 20px;

            .qr-title{
                display:flex;
            }
        }
    }
}
