.treatment-qrs-container{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;


    .qr-actions{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        height: 130px;
    }

    .treatment-qrs-title{
        display:flex
    }

    .treatment-qrs{
        display:flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        border: 1px solid #6AC1A9;
        border-radius: 4px;

        padding: 20px;
        margin-top: 10px;

        max-width: 650px;

        .qr-card{
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            align-content: center;

            .qr-title{
                display:flex;
                flex-direction: column;
                align-items: center;

                p{
                    margin:0;
                }
            }
        }
    }
}

.email-template{
    height: 600px;
    width: 600px;
    background-color: #6AC1A9;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;

    .email-header{
        width: 560px;
        height: 155px;
        background-size: contain;
        background-image: url('../../../../assets/images/email-header.png');
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h2{
            color:white;
            padding: 0 50px;
        }

    }

    .email-content{
        padding:50px;
        margin: 0px 20px 20px 20px;
       
        background-color: white;

        h1{
            color: #6AC1A9;
            font-size: 150%;
        }
    }

    .email-footer{
         img{
             width: 200px;
         }
    }
}
