.landing{
   height: 100%; 
   background-image: url('../../assets/images/landing.png');

   .landing-header{
        display:flex;
        flex-direction: row;
        justify-content: space-around;

        background-color: rgba(0, 0, 0, 0);
        height: 80px;
        margin: 0px 100px;
        padding: 10px 0px;

        .landing-logo{
            display:flex;
            justify-content: center;
            align-items: center;
            
            img{
                height: 50px;
                width: 200px;
            }
        }

        .landing-links{
            display:flex;
            flex-direction: row;
            justify-content: space-around;

            .link{
                display:flex;
                color:white;

                margin: 0px 20px;
            }
        }

        .landing-user{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            align-items: center;

        }
   }

   .landing-container{
       display:flex;
       flex-direction: row;
       justify-content: space-around;

       margin: 40px 100px;
       padding: 50px 0px;

        .landing-info{
            display:flex;
            flex-direction: column;
            justify-content: flex-start;

            width:450px;


            .info-heading{
                display:flex;
                color: white;
                font-size: 48px;
            }
            .info-content{
                display:flex;
                flex-direction: column;
                justify-content: center;
                
                color:#6AC1A9;
                font-size: 24px;
            }
        }

        .signup{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .signup-success{
                display:flex;
                justify-content: center;
                align-items: center;
                
                width: 100%;
                background-color:rgba(106, 193, 169,0.5);
                color:white;
                border-radius: 4px;
                font-size: 18px;
            }
        }

   }
}