.landing{
   background-image: url('../../assets/images/landing.png');
   background-size: cover;
   height: 100%;
   overflow: auto;
  

   .landing-header{
        display:flex;
        flex-direction: row;
        justify-content: space-around;

        background-color: rgba(0, 0, 0, 0);
        height: 80px;
        padding: 20px 40px;

        .landing-logo{
            display:flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
            :hover{
                transform: scale(1.1);
            }
            
            img{
                height: 50px;
                width: 200px;
            }
        }

        .landing-links{
            display:flex;
            flex-direction: row;
            justify-content: space-around;

            .link{
                display:flex;
                color:white;

                margin: 0px 20px;
            }
        }

        .landing-user{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            align-items: center;

        }
   }

   .landing-container{
       display:flex;
       flex-direction: row;
       justify-content: space-around;

       padding: 20px 40px;

        .landing-info{
            display:flex;
            flex-direction: column;
            justify-content: flex-start;

            width:550px;
            margin: 0px 40px;


            .info-heading{
                display:flex;
                color: white;
                font-size: 64px;
            }
            .info-content{
                display:flex;
                flex-direction: column;
                justify-content: center;
                
                color:white;
                font-size: 32px;


            }
        }


   }
}