@import './dashboardsTypes/YellowFreq/styles.scss';
@import './components/DashboardSelector/styles.scss';
@import './dashboardsTypes/Overall/styles.scss';
@import './components/AssayOverview/styles.scss';
@import './components/BoxPlot/styles.scss';

.Dashboard {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #111111;

    
    .dashboard-container {
        height: 100%;
        display: flex;
        flex-direction: row;

        .no-data-yet {
            text-align: center;
        }
    
        .left-column {
            max-width: 20%;
            height: 100%;
            z-index: 1000;
        }
    
        .right-column {
            height: 100%;
            flex-grow: 2;
            background-color: white;
            border: 1px solid black;
        }
    
        .PlotlyGraph {
            width: 100%;
        }
    }
}

