.form-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin: 10px 0px;

    .result-error{
        color:red;
    }

    .result-success{
        color:white;
    }

    form{
        width:100%;
    }
}