.form-container{
    display: flex;
    flex-direction: column;

    align-items: center;

    border-style: solid;
    border-color: #6AC1A9;
    border-radius: 4px;

    width:400px;
    padding: 40px 20px;
    margin: 10px 0px;

    .result-error{
        margin: 10px 0px;
        color:red;
    }

    .result-success{
        margin: 10px 0px;
        color:#3A7257
    }

    form{
        display:flex;
        flex-direction: column;
        align-items: center;

        padding: 20px;
        width:100%;
    }
}
