@import './components/styles.scss';

.overall-container{


    .overall-wrapper{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       
        padding: 40px 80px;

        .gant-wrapper{
            display:flex;
        }

        .charts-column{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}

.chart-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top:40px;

    .chart-title{
        color: #6AC1A9;
        h1,h2{
            margin:0
        }
    }
}