.login-background {
    background: url('../../assets/images/home.jpg');
    color:gray;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    text-align: center;
}