.results-item{
    display:flex;
    justify-content: space-between;
    width:600px;
    height: 50px;
    margin: 12px;
    background-color: #FCFCFC;

    .item-prop{
        display:flex;
        
    }
    
    .result-controller{
        display:flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
    
        .delete{
            font-size: 16px;
            border: none;
            display:flex;
            justify-self: flex-start;
            background-size: cover;
            background: url('../../../assets/images/delete-icon.png');
            height: 40px;
            width: 40px;
        }

        .edit{
            font-size: 16px;
            border: none;
            display:flex;
            background-size: cover;
            background: url('../../../assets/images/edit-icon.png');
            height: 40px;
            width: 40px;
        }
    }
}
     

