@import './QR/styles.scss';

.treatments{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;

    .treatments-title{
        color:white;
    }

    .treatments-wrapper{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    }

    .treatment-card{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: black;
        height: 100px;
        width: 100px;


        .treatment-tag{
            color:white;
        }

        .treatment-tests{
            color:white;
        }
    }

    .treatment-qr{
        display:flex;
        justify-content: flex-start;
        
        .qr{
            display:flex
        }
    }
}