.assay-options-container{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
    background-color:white;
    border-radius: 4px;
    border: 1px solid rgba(106, 193, 169,0.5);

    .assay-options{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        width: 250px;

        padding: 20px 10px;

        .option{
            margin:5px 0;
            cursor: pointer;
            &:hover{
                color:#6AC1A9;
            }
        }
    }

    .options-header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width:250px;
        padding: 10px 5px;

        .options-title{
            color: #6AC1A9;
        }
    }
}