.treatment-container{
    width: 260px;
    height: 260px;
    padding: 5px;
    margin: 20px;

    border-radius: 8px;
    border-style: solid;
    border-color: #6AC1A9;

    background-color: rgba(106, 193, 168, 0.1);

    .treatment{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        
        height: inherit;
    
        .treatment-header{
            display:flex;
            justify-content: space-between;
            align-items: center;

            .title{
                font-size: 24px;
                color:#6AC1A9;
            }

            .delete{
                cursor: pointer;
                &:hover{
                    color:red
                }
            }
        }

            .treatment-attribute{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                img{
                    width: 35px;
                    height: 35px;
                }
        
                .content{
                    font-size: 0.875rem;
                    color:black;
                }
        
            }
         
            .treatment-footer{
                display:flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                .footer{
                    display:flex;
                    flex-direction:column;
                    align-items: center;
                    p{
    
                    }
                }

            }
    }
}

.empty-treatment{
    display:flex;
    flex-direction: column;
    width: 260px;
    height: 260px;
    padding: 5px;
    margin: 20px;

    border-radius: 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0,0.3);

    background-color: rgba(106, 193, 168, 0.1);

    display: flex;
    justify-content: center;
    align-items:center;

    img{
        height: 150px;
        width: 150px;
        opacity: 0.3;

        &:hover{
            transform:scale(1.2);
        }
    }

    h4{
        margin: 0;
    }

    p{
        color: #c2c3c7;
        margin: 10px 20px;
        text-align: center;
    }
}
