.message {
    display:flex;
    justify-content: center;
    
    color:black;
    border-radius: 4px;
    font-size: 18px;
    padding:20px;
}

.success{
    background-color: rgba(106, 193, 169,0.5);
    
}

.error{
    background-color: rgba(224, 77, 77,0.5);
}

.info{ 
    background-color: rgba(250, 234, 15, 0.6);
}