@import './components/Ensayo/styles.scss';
@import './components/HomeSearcher/styles.scss';
@import './components/AssayOptions/styles.scss';
@import './components/Tabs/styles.scss';
.home {
    display:flex;
    align-items: center;
    flex-direction: column;


    .data-upload-menu {
        display: flex;
        justify-content: center;

        .func-access {
            background-color: inherit;
            border: 1px solid rgba(0,0,0,0.2);
            padding: 16px;
            cursor: pointer;
            margin: 16px;
        }
    }

    .home-title {
        text-align: center;
        font-weight: 200;
        font-size: 24px;
        margin-bottom: 30px
    }

}

.ensayos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    padding: 0px 80px; 

    
} 
.info-content{
    display:flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
    
    .info-content-description{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        h4{
            color:black;
            margin:0;
            font-size: 32px;
        }

        p{
            color: #c2c3c7;
            margin:0;
            width: 400px;
            font-size: 18px;
        }
    }
    
    .info-content-image{
    }

    .empty-content-image{
        width: 300px;
        height: 250px;
        background-image: url(../../assets/images/tumbleweed.png);
        background-size: cover;
        border-radius: 128px;
        margin-bottom: 30px;
    }

}