.field-container{
    display:flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

}

.field-error{
    font-size: 100%;

    p{
        color: red
    }
}


.field-title{
    color:white;
    justify-content: center;
    text-justify: center;
}

.field-content{
    display:flex;
    width:100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    select{
        width:100%;
    }
}
