@import './Components/styles.scss';
.gallery-container{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;

    padding: 80px;

    .options-sidebar{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 200px;
       

        overflow: auto;

        .option-sidebar{
            padding:10px;
            margin:5px 0;
            border: 1px solid black;
            
            cursor: pointer;
            &.selected {
                background-color: #6AC1A9;
            }
        }
    }

    .experiment-images-container{
        border: 1px solid black;
        min-width: 400px;
        overflow:auto;

        .experiment-images{
            display:flex;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            list-style-type: none;

            .experiment-image{
                height: 150px;
                width: 100px;
                margin: 2.5px;
                img{
                    height: 100%;
                    width: 100%;

                }
            }
        }

    }
                    

}