@import './Components/styles.scss';
.gallery-container{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;

    padding: 80px;

    .options-sidebar{
        flex-wrap: wrap;
        width: 200px;
       

        overflow: auto;

        

        &.treatments {
            display: flex;
            flex-direction: column;
        }

        &.experiments {
            display: flex;
            flex-direction: column;
        }

        .option-sidebar{
            padding:10px;
            margin:0px 0;
            border: 1px solid black;
            
            cursor: pointer;
            &.selected {
                background-color: #6AC1A9;
            }

            &.column-title {
                background-color: gray;
                color: white;
                position: absolute;
                width: 200px;
                padding: 10px 0;
                border-right: none;

                &:after {
                    content: "";
                    position: absolute;
                    height: 0;
                    width: 0;
                    left: 100%;
                    top: 0;
                    right: 0;
                    border: 20px solid transparent;
                    border-left: 20px solid gray;
                }
            }

            &:nth-child(2) {
                margin-top: 40px;
            }
        }
    }

    .experiment-images-container{
        border: 1px solid black;
        width: 400px;
        overflow:auto;

        .experiment-images{
            flex-wrap: wrap;
            list-style-type: none;

            .space-div {
                padding-top: 40px;
            }

            .images-flex {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: start;
            }

            .experiment-image-container {
                width: 196px;
                margin: 2px;
                .timestamp {
                    text-align: center;
                    font-size: 10px;
                    border-top: 1px solid black;
                    border-right: 1px solid black;
                    border-left: 1px solid black;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    margin-inline-start: 0;
                    margin-inline-end: 0;
                }
                
                img {
                    height: 196px;
                    width: 100%;
                }
            }

            .experiment-image{

                &.column-title {
                    background-color: gray;
                    display: block;
                    position: absolute;
                    color: white;
                    width: 400px;
                    padding: 10px 0;
                }
            }
        }

    }
                    

}