.gallery-container{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;

    padding: 80px;

    .assays-sidebar{
        display:flex;
        flex-direction: column;
        margin: 0 40px;
        height: 600px;
       

        overflow: auto;

        .assay-sidebar{
            padding:10px;
            margin:5px 0;
            border: 1px solid black;
            
        }
    }

    .treatments-sidebar{
        display:flex;
        flex-direction:column;
        justify-content: center;

        margin: 0 40px;

        .treatment-sidebar{
            padding:10px;
            margin:5px 0;
            border: 1px solid black;
        }
    }

    .experiments-sidebar{
        display:flex;
        flex-direction:column;
        justify-content: center;

        margin: 0 40px;


        .experiment-sidebar{
            padding:10px;
            margin:5px 0;
            border: 1px solid black;
        }
    }

    .experiment-images-container{
        display:flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;


        border: 1px solid black;
        min-width: 400px;
        overflow:auto;

        .experiment-image{
            height: 150px;
            width: 100px;

            margin: 10px;
            img{
                height: 100%;
                width: 100%
            }
        }
    }
                    

}