@import './components/styles.scss';

.search-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 700px;

    margin-bottom: 20px;

    .results-container{
        display:flex;
        flex-direction: column;
        align-items: center;

        .search-bar-container{
            width: 400px;
            height: 50px;
            border: 1px solid #E0E0E0;
            border-radius: 4px;
    
            cursor: text;
            font-size: 10px;

            .search-bar-wrapper{
                display:flex;

                .search-logo{
                    height: 50px;
                    padding:5px;
                    img{
                        height: 100%;
                    }
                }
                input{
                    width:100%;
                    outline: none;
                    border:none;
                    padding: 5px;
                    border-radius: 4px;
                }
            }
    
        }

        .results-wrapper{
            height: 550px;
            border-radius: 4px;
            overflow: auto;
            .results-list{
                    display:flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: nowrap;
                      
                    padding: 20px;
            }
        }
    
            .search-loading{
                display:flex;
                justify-content: center;
                margin: 30px 0;
            }
    }


}




