@import './components/styles.scss';

.search-container{
    display:flex;
    flex-direction: column;
    width:100%;
        .results-list{
                display:flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: nowrap;
                overflow-y: auto;
                
                
                height: 400px;
                margin: 20px 0 20px 0;
                background-color: rgba(128, 128, 128, 0.2);
       
                .results-empty{
                    color:white;
                }
        }

        .search-loading{
            display:flex;
            justify-content: center;
            margin: 30px 0;
        }
}




