.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    background-color: #3A7257;
}
.results{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   align-content: flex-start; 
   background-color: azure;
}

.results ul{
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.search-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}


.title-wrapper{
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
.title-wrapper img{
    flex-grow: 0;
    flex-shrink: 0;
    width: 5rem;
    height: 5rem;
}

.title-wrapper p{
    color: white;
}