@import './Components/styles.scss';

.treatments-container{
    width: 1200px;
    height: 600px;
    background-color: rgb(252, 252, 252);
    overflow: auto;

    border-radius: 4px;

    .treatments-wrapper{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

    }
}

.new-treatment-button{
    width:300px;
    margin: 20px 0px;
}

.empty-treatment{
    display:flex;
    flex-direction: column;
    color: black;

    p{
        color: #c2c3c7;
        margin: 10px 20px;
        text-align: center;
    }
}
