@import './Components/styles.scss';

.treatments-container{
    width: 920px;
    height: 600px;
    background-color: rgb(252, 252, 252);
    overflow: auto;

    border-radius: 8px;
    border: 1px solid #c2c3c7;

    .treatments-wrapper{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

    }
}

.new-treatment-button{
    width:300px;
    margin: 20px 0px;
}
