.dashboard-selector {
    .tab-wrapper {
        border: 1px solid black;
        padding: 12px;
        border-radius: 1px;
        border-right: none;
        background-color: #84FAC5;

        &.selected {
            margin-right: -1px; // Trick for right margin empty when selected
            background-color: white;
        }
    }
}