
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;

    .login-form {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .help {
            color: white;
            text-align: right;
            font-weight: 100;
            font-size: 0.7em;
            margin: 2px 0 24px 0;
        }
        .input {
            height: 24px;
            padding: 6px;
            border-radius: 4px;
            border-style: none;
        }
    }
}