@import './components/App/styles.scss';
@import './components/CRUD/styles.scss';
@import './components/Field/styles.scss';
@import './components/Form/styles.scss';
@import './components/Home/styles.scss';
@import './components/Search/styles.scss';
@import './components/Login/styles.scss';
@import './components/Dashboards/styles.scss';
@import './components/Users/styles.scss';
@import './glyphs.scss';
@import './components/Utilities/styles.scss';
@import './components/Assay/styles.scss';
@import './components/Qrs/styles.scss';
@import './components/Landing/styles.scss';
@import './components/SignUp/styles.scss';
@import './components/Tags/styles.scss';
@import './components/Treatments/styles.scss';
@import './components/Feedback/styles.scss';
body {
    margin: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: 'Montserrat';
}

#app-root {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
}