@import './Buttons/styles.scss';
@import './Messages/styles.scss';
@import './ProtectedRoute/styles.scss';
@import './Loader/styles.scss';
.stepper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: aliceblue;
    
}