@import './Buttons/styles.scss';

.stepper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: aliceblue;
    
}