.assay-wrapper{
    display:flex;
    flex-direction: column;

    width: 260px;
    padding: 6px;
    margin: 16px;

    border: 2px solid #6AC1A9;
    border-radius: 4px;

    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);

    .assay{
        display: flex;
        flex-direction: column;

        .assay-header{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .name{
                display:flex;
                font-size: 32px;
                color: black;
            }
            .options{
                display:flex;
                align-items: center;
            }
        }
            

        .assay-tags{
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            .assay-tag{
                height: 10px;
                margin: 10px 5px 10px 0;
            }
        }

        .assay-description{
            display:flex;
            flex-direction: column;
            align-items: flex-start;

            margin: 10px 0;

            .title{
                font-size: 20px;
            }

            .content{
                font-size: 14px;
            }
        }

        .assay-components{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            border-top: 1px solid #6AC1A9; 
            border-bottom: 1px solid #6AC1A9;
            padding: 16px;

            .component{
                display:flex;
                flex-direction: column;
                align-items: center;

                .component-img{
                        display: flex;
                        width: 30px;
                        margin: 0px 5px;

                        img{
                            width:100%;
                            height: 100%;
                        }
            
                    }
                .component-name{
                    color:black;
                    }
                }
        
            }
        }

        .assay-actions{
            display:flex;
            flex-direction: row;
            justify-content: space-around;

            width: 100%;

            .buttons{
                display:flex;
                flex-direction: column;
                width: 100%;   

                .action-button{
                    margin: 5px 0;
                }
            }
        }
}