
.action-button{
    margin: 5px 0;
}    

.assay-tag{
    
    margin: 2px;
    padding: 5px;

    border-radius: 8px;
    color:white;
}

.assay-subtitle{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.assay-review{
    background-color: rgba(106, 193, 169,0.1);
    border-radius: 8px;
    width: 250px;
    padding: 10px 20px;
}

.assay-state-tags{
    padding:16px;
        .assay-tags{
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            
        }

        .assay-state{
            display:flex;
            justify-content: center;
            width: 150px;
        
            font-size: 14px;
            background-color:white;
            color: #6AC1A9;
            border: 1px solid #6AC1A9;
            border-radius: 4px;

            padding: 5px;
            margin: 5px 0;
        }
}