.treatment-card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    background-color: white;

    height: 150px;
    width: 150px;

    padding:10px;

    border-radius: 4px;
    border-style: solid;
    border-color: #6AC1A9;


    .treatment-card-header{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .treatment-card-content{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .title{
        font-size: 24px;
        color:#6AC1A9;

    }
    .content{
        font-size: 18px;
        color:black;
    }

    .treatment-content-title{
        color:black
    }

    .treatment-tag{
        color:#3A7257;
    }

    .treatment-tests{
        color:#3A7257;
    }
}